<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.co.peterscorner" android:versionCode="1" android:versionName="1.0-SNAPSHOT">

    <application android:icon="@drawable/icon" android:label="Chap05 - Intents">
        <activity android:name=".MainActivity"
            android:label="Chap05 - Intents">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".BasicViewActivity"
                  android:label="Basic View Test">
            <intent-filter>
                <action android:name="uk.co.peterscorner.intent.action.ShowBasicView"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

</manifest>

